target/
.project
.classpath
.settings/
/sling/
derby.log
*.iml
*.ipr
*.iws
coverage.em
coverage.ec
coverage/
.DS_Store
.idea/
bundles/extensions/models/integration-tests/sling
bundles/extensions/i18n/jackrabbit
bundles/jcr/contentloader/jackrabbit
testing/mocks/sling-mock-oak/dependency-reduced-pom.xml
contrib/extensions/distribution/it/sling
contrib/explorers/resourceeditor/node
