!-- used by ScriptedRenderingTest -->
<html>
  <body>
    <p><span>Ruby template <%= Time.now %></span></p>
		<p><span><%= resource.getRawData().getProperty("text").getString() %></span></p>
    <% unless props.nil? or props.empty? %>
      <table>
        <% for prop, val in props %>
          <tr><td><b><%= prop %></b>:</td><td><%= val %></td></tr>
        <% end %>
      </table>
    <% end %>
  </body>
</html>

