<html>
 <head>
   <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Ignored, this should be replaced by the node path</title>
 </head>
 <body>
    <%= currentNode.title %>
 </body>
</html>