<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.apache.sling.ide.eclipse.ui"
            name="Sling">
      </category>
      <wizard
            category="org.apache.sling.ide.eclipse.ui"
            class="org.apache.sling.ide.eclipse.ui.wizards.np.NewSlingBundleWizard"
            icon="icons/obj16/sling.gif"
            id="org.apache.sling.ide.eclipse.ui.wizards.np.NewSlingBundleWizard"
            name="Sling Bundle Project"
            project="true">
      </wizard>
   </extension>
    <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="org.eclipse.ui.trace.tracingPrefPage"
            label="Sling IDE Tooling">
         <bundle
               name="org.apache.sling.ide.eclipse-m2e-ui"></bundle>
      </component>
   </extension>   
</plugin>    
