whitelist.name="sling"
whitelist.bundles=[\
  "org.apache.sling.discovery.commons",\
  "org.apache.sling.discovery.base",\
  "org.apache.sling.discovery.oak",\
  "org.apache.sling.extensions.webconsolesecurityprovider",\
  "org.apache.sling.jcr.base",\
  "org.apache.sling.jcr.classloader",\
  "org.apache.sling.jcr.contentloader",\
  "org.apache.sling.jcr.davex",\
  "org.apache.sling.jcr.jackrabbit.usermanager",\
  "org.apache.sling.jcr.oak.server",\
  "org.apache.sling.jcr.repoinit",\
  "org.apache.sling.jcr.resource",\
  "org.apache.sling.jcr.webconsole"\
]
