scripts=[\
  "create service user sling-mapping\n\
  create service user sling-readall\n\
  create path (sling:Folder) /apps\n\
  create path (sling:Folder) /libs\n\
  create path (sling:Folder) /var\n\
  create path (sling:OrderedFolder) /content\n\
  set ACL for everyone\n\
       allow   jcr:read    on /\n\
  end\n\
  set ACL for sling-mapping\n\
      allow   jcr:read    on /\n\
  end\n\
  set ACL for sling-readall\n\
      allow   jcr:read    on /\n\
  end"\
]
