<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <!-- Define the launch configuration's tab group -->
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.apache.sling.ide.eclipse.launchpad.launchConfigurationTabGroup"
      type="org.apache.sling.ide.eclipse.launchpad.launchConfigurationType"
      class="org.apache.sling.ide.eclipse.ui.internal.SlingLaunchpadLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>
  

	<!-- Define images -->
	<extension point="org.eclipse.wst.server.ui.serverImages">      
	      <image
	         icon="icons/obj16/sling.gif"
	         typeIds="org.apache.sling.launchpad.server"/>
	      <image
	         icon="icons/obj16/sling.gif"
	         typeIds="sling.content"/>
	</extension>  
	
	<!-- Define the editor section(s) we contribute to the WST UI -->
   <extension point="org.eclipse.wst.server.ui.editorPageSections">      
      <section
         id="org.apache.sling.ide.eclipse.configuration.editor.port"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.apache.sling.launchpad.server"
         class="org.apache.sling.ide.eclipse.ui.internal.ConnectionEditorSection">
      </section>
   </extension>   
  
  <!-- Runtime images -->
    <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image runtime-component-type="org.apache.sling.launchpad"
       path="icons/obj16/sling.gif"/>
  </extension>
  
  <!-- Menu contributions -->
     <extension
         point="org.eclipse.ui.popupMenus">
         <!-- All Sling contributions -->
        <objectContribution
            id="org.apache.sling.slingclipse.slingMenu"
            objectClass="org.eclipse.core.resources.IProject">
            <menu id="org.apache.sling.slingclipse.slingMenu"
              path="additions"
              label="Sling">
            	<groupMarker name="sling"/>
            </menu>
         </objectContribution>
         <!-- Import. 
         	I prefer to do this outside the import wizard section since I can restrict the destination -->
         <objectContribution id="org.apache.sling.slingclipse.slingImport"
         	objectClass="org.eclipse.core.resources.IProject">
         	
         <action
               class="org.apache.sling.ide.eclipse.ui.internal.ImportContentAction"
               id="org.apache.sling.slingclipse.importContentAction"
               label="Import Content..."
               menubarPath="org.apache.sling.slingclipse.slingMenu/sling"
               style="push">
         </action>
         <visibility>
               <objectState
                     name="open"
                     value="true">
               </objectState>
         </visibility>
         <enablement>
				<test 
		            property="org.eclipse.wst.common.project.facet.core.projectFacet" 
		            value="sling.content"/>         
         </enablement>
		</objectContribution>
  </extension>
  
   <!-- Property page for project to select directory to sync -->
   <extension point="org.eclipse.ui.propertyPages"> 
        <page 
            id="org.apache.sling.ide.eclipse.projectPropertyPage" 
            name="Sling" 
            class="org.apache.sling.ide.eclipse.ui.internal.SlingProjectPropertyPage"> 
            <enabledWhen>
            <and>
             	<instanceof
                  	value="org.eclipse.core.resources.IProject">
             	</instanceof>
 				<test 
		            property="org.eclipse.wst.common.project.facet.core.projectFacet" 
		            value="sling.content"/>
             </and>
          </enabledWhen>
        </page> 
    </extension> 
</plugin>    
