<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.apache.sling.slingclipse.preferences"
         name="Slingclipse Preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            name="Slingclipse"
            class="org.apache.sling.slingclipse.preferences.SlingclipsePreferencePage"
            id="org.apache.sling.slingclipse.preferences.defaultPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.apache.sling.slingclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.apache.sling.slingclipse.SlingProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.apache.sling.slingclipse.internal.SlingProjectNature"/>
      </runtime>
      <builder
            id="org.apache.sling.slingclipse.SlingProjectBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.apache.sling.slingclipse.convertToSlingProject"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.apache.sling.slingclipse.internal.AddSlingNatureAction"
               id="org.apache.sling.slingclipse.enableNatureAction"
               label="Convert to Sling Project"
               style="push">
         </action>
         <visibility>
           <objectState
                 name="open"
                 value="true">
           </objectState>
         </visibility>
         <enablement>
               <test 
               		property="org.eclipse.wst.common.project.facet.core.projectFacet"
               		value="sling.content">
               </test>
         </enablement>
      </objectContribution>
   </extension>
   <extension
         id="org.apache.sling.slingclipse.SlingProjectBuilder"
         name="Sling Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
            <run
                  class="org.apache.sling.slingclipse.internal.SlingProjectBuilder">
            </run>
      </builder>
   </extension>
</plugin>
