<html>
 <!-- 
 	The currentNode.whatever code must not be output,
 	JST considers only what's inside the body tag
 	for javascript generation
  --> 	
 <%= currentNode.whatever %>
 <body>
    <%= currentNode.title %>
 </body>
</html>